.history h1 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-top: 50px;
}

.history-container {
  display: flex;
  margin-top: 50px;
  overflow-x: scroll; 
  overflow-y: hidden;
  width: 100%;
}

.history img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-left: 20px;
}
