.hero_banner {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.home-container-title h1 {
  font-size: 68px;
  font-weight: 700;
  margin-top: 50px;
}

.home-container-title button {
  width: 150px;
  height: 50px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}

.home-container-title button:hover {
  background: var(--button-hover);
}

.home-container-image img {
  width: 450px;
  height: 450px;
  border-radius: 15px;
}

.home-container-sponsors {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-container-sponsors img {
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .hero_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-container-image img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }

  .home-container-title h1 {
    font-size: 58px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .hero_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-container-image img {
    margin-top: 20px;
  }
}
